PyQt6
numpy
markdown
gitpython
beautifulsoup4
colorama
fake_useragent
requests
google-search-results
httpx
tenacity
requests_html
aiohttp
urllib3
asyncio
lxml_html_clean
html_clean
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
