aiodns
aiohttp
aiohttp-socks
arabic-reshaper
async-timeout
attrs
chardet
colorama
future
future-annotations
html5lib
idna
Jinja2
lxml
MarkupSafe
mock
multidict
pycountry
PyPDF2
PySocks
python-bidi
requests
requests-futures
six
socid-extractor
soupsieve
stem
torrequest
tqdm
typing-extensions
webencodings
xhtml2pdf
XMind
yarl
networkx
pyvis
reportlab
cloudscraper
PyQt5 
PyQtWebEngine
httpx
asyncio
beautifulsoup4
colorama
fake_useragent
psutil
pyqt5
pyqtwebengine
serpapi
urllib3