asyncio
beautifulsoup4
colorama
fake_useragent
httpx
psutil
pyqt5
pyqtwebengine
requests
serpapi
urllib3
aiodns
aiohttp
aiohttp-socks
arabic-reshaper
async-timeout
attrs
certifi
chardet
future
future-annotations
html5lib
idna
Jinja2
lxml
MarkupSafe
mock
multidict
pycountry
PyPDF2
PySocks
python-bidi
requests
requests-futures
six
socid-extractor
soupsieve
stem
torrequest
tqdm
typing-extensions
webencodings
xhtml2pdf
XMind
yarl==1.8.2
networkx==2.6.3
pyvis==0.2.1
reportlab==3.6.13
cloudscraper==1.2.71

